{% extends 'base.html' %}

{% block title %} CN: Add note{% endblock %}

{% block content %}

    <div class="container-fluid m-2 mt-5">
        <form method="post">
            {% csrf_token %}
            <div class="row py-2 px-4">
                <div class="col-md">
                    <div class="form-floating">
                        {{ form.title }}
                        <label for="floatingInputGrid">Tytuł</label>
                    </div>
                </div>
                <div class="col-md">
                    <div class="form-floating">
                        {{ form.category }}
                        <label for="floatingSelectGrid">Kategoria</label>
                    </div>
                </div>
            </div>
            <div class="form-row py-2 px-4">
                <div class="form-floating">
                    {{ form.questions }}
                    <label for="floatingTextarea2">Pytania:</label>
                </div>
            </div>
            <div class="row py-2 px-4">
                <div class="col-8">
                    <div class="form-floating">
                        <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                              style="height: 500px"></textarea>
                            <label for="floatingTextarea2">Notatka</label>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-floating">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                              style="height: 500px"></textarea>
                            <label for="floatingTextarea2">Streszczenie</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row py-2 px-4">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                              style="height: 250px"></textarea>
                    <label for="floatingTextarea2">Podsumowanie</label>
                </div>
            </div>
            <div class="form-row py-2 px-4 text-center">
                <button type="submit" class="btn btn-primary">Dodaj notatkę</button>
            </div>
        </form>

    </div>



{% endblock %}